<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Custard Pie</title>
    </head>
    <body class="background">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-1 heading text-center">Bios</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav justify-content-center nav-pills tfont">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/bios.html">Bios</a></li>
                        <li class="nav-item"><a class="nav-link" href="/upcoming.html">Schedule</a></li>
                        <li class="nav-item"><a class="nav-link" href="/songlist.html">Songlist</a></li>
                        <li class="nav-item"><a class="nav-link" href="/media.html">Media</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news.html">News</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="img-fluid rounded centered" alt="Woody" src="/static/images/woody_bio.png" width="400" height="341" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="profile-lead">Mark Wood</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="profile">Growing up traveling and living throughout the world, Mark “Woody” Wood, was exposed to the best music of the 1960s and 1970s. He picked up the guitar at an early age and taught himself to play a wide range of musical styles, eventually backing great vocal groups like The Coasters, The Drifters, The Four Tops and others. His bands have opened for Foghat, John Fogerty, and Sir Elton John, to name a few. Mark has also performed on countless studio recordings including his own self-titled disc. He brings to Custard Pie an uncanny ability to channel Jimmy Page performances, from violin bow and double neck guitar to the otherworldly theremin, creating an authentic aural palette one needs to experience to appreciate.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="img-fluid rounded centered" alt="Tony" src="/static/images/tony_bio.jpg" width="403" height="427" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="profile-lead">Tony Rivas</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="profile">Singing since he was child, Tony was bitten by the music bug at an early age. He saw the Beatles on the Ed Sullivan Show and knew what he wanted to do. He sang in various bar bands on his way towards a music career, but in the 1980s his life took a sudden turn. "I'd always wanted to be a fireman, so I took the opportunity and it turned into a 30-year gig" he says. After hanging uo his helmet, the music was still lurking in his veins, and once again he found himself looking for a band. Tony's love for singing in the style of Robert Plant and being in the limelight made it an easy decision to join Custard Pie. The guitar, bass, and drums of this band provide the perfect platform to make his voice shine like never before.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="img-fluid rounded centered" alt="Marty" src="/static/images/marty_bio.jpg" width="320" height="427" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="profile-lead">Marty Schwartz</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="profile">When Marty was 16 a friend told him, “You should learn to play bass because no on else wants to and you’ll always be in demand!” It was good advice. He bought a bass and started playing. His first influences were Jack Bruce and Geezer Butler. Through many years of original bands, cover bands and studio work, Marty would always find himself back with his childhood friends, playing Led Zeppelin. “We were doing it when it was considered unpopular”, he says. It was in 2007 that he first joined Mark Wood and started playing Led Zeppelin to a new and receptive audience. Just like John Paul Jones, Marty brings a rock-solid foundation to the band.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="img-fluid rounded centered" alt="Jorge" src="/static/images/jorge_bio.jpg" width="440" height="372" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="profile-lead">Jorge Velázquez</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="profile">Introduced to Classic Rock in his early teens, Jorge quickly became a fan of many of the legendary groups from that era. Primarily influenced by Neil Peart, Keith Moon, and John Bonham, he began drumming! Life's twists and turns led him to mathematics and engineering, but his loved for classic rock never waned, eventually causing him to return to his his passion of percussion. His love for the drums is evident in  the emotion and energy he strives to deliver at each show. As he likes to say, "It's an honor to be able to play the music of my heroes, to help perpetuate what I consider to be some of the greatest music of all time."</p>
                </div>
            </div>
            <div class="row" style="height: 64px">
            </div>
        </div>
    </body>
</html>
