<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Custard Pie</title>
    </head>
    <body class="background">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-1 heading text-center">Song List</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav justify-content-center nav-pills tfont">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/bios.html">Bios</a></li>
                        <li class="nav-item"><a class="nav-link" href="/upcoming.html">Schedule</a></li>
                        <li class="nav-item"><a class="nav-link" href="/songlist.html">Songlist</a></li>
                        <li class="nav-item"><a class="nav-link" href="/media.html">Media</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news.html">News</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="profile-lead text-center">Led Zeppelin</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Communication Breakdown</li>
                        <li class="list-inline-item">Dazed &amp; Confused</li>
                        <li class="list-inline-item">Good Times Bad Times</li>
                        <li class="list-inline-item">How Many More Times</li>
                        <li class="list-inline-item">You Shook Me</li>
                        <li class="list-inline-item">When The Levee Breaks</li>
                        <li class="list-inline-item">Bring It On Home</li>
                        <li class="list-inline-item">We're Gonna Groove</li>
                        <li class="list-inline-item">Ramble On</li>
                        <li class="list-inline-item">Heartbreaker</li>
                        <li class="list-inline-item">Livin' Lovin' Maid</li>
                        <li class="list-inline-item">The Lemon Song</li>
                        <li class="list-inline-item">Thank You</li>
                        <li class="list-inline-item">Whole Lotta Love</li>
                        <li class="list-inline-item">What Is And What Should Never Be</li>
                        <li class="list-inline-item">Immigrant Song</li>
                        <li class="list-inline-item">Out On The Tiles</li>
                        <li class="list-inline-item">Since I've Been Loving You</li>
                        <li class="list-inline-item">Gallows Pole</li>
                        <li class="list-inline-item">Celebration Day</li>
                        <li class="list-inline-item">Stairway To Heaven</li>
                        <li class="list-inline-item">Black Dog</li>
                        <li class="list-inline-item">Rock and Roll</li>
                        <li class="list-inline-item">Misty Mountain Hop</li>
                        <li class="list-inline-item">Dancin' Days</li>
                        <li class="list-inline-item">The Ocean</li>
                        <li class="list-inline-item">Over The Hills and Far Away</li>
                        <li class="list-inline-item">The Song Remains the Same</li>
                        <li class="list-inline-item">Custard Pie</li>
                        <li class="list-inline-item">The Rover</li>
                        <li class="list-inline-item">Houses of the Holy</li>
                        <li class="list-inline-item">Kashmir</li>
                        <li class="list-inline-item">Ten Years Gone</li>
                        <li class="list-inline-item">Wanton Song</li>
                        <li class="list-inline-item">Sick Again</li>
                        <li class="list-inline-item">Hots On For Nowhere</li>
                        <li class="list-inline-item">Fool In The Rain</li>
                        <li class="list-inline-item">Nobody's Fault But Mine</li>
                    </ul>
                    <p class="profile-lead text-center">Rolling Stones</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Satisfaction</li>
                        <li class="list-inline-item">Street Fightin' Man</li>
                        <li class="list-inline-item">Jumpin' Jack Flash</li>
                        <li class="list-inline-item">Brown Sugar</li>
                        <li class="list-inline-item">Sympathy For The Devil</li>
                        <li class="list-inline-item">Miss You</li>
                        <li class="list-inline-item">Shattered</li>
                        <li class="list-inline-item">Gimme Shelter</li>
                        <li class="list-inline-item">Tumblin' Dice</li>
                        <li class="list-inline-item">She's So Cold</li>
                        <li class="list-inline-item">Dead Flowers</li>
                        <li class="list-inline-item">Start Me Up</li>
                        <li class="list-inline-item">Bitch</li>
                        <li class="list-inline-item">Under My Thumb</li>
                        <li class="list-inline-item">Let's Spend The Night Together</li>
                    </ul>
                    <p class="profile-lead text-center">Cream</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Crossroads</li>
                        <li class="list-inline-item">Badge</li>
                        <li class="list-inline-item">Sunshine Of Your Love</li>
                        <li class="list-inline-item">White Room</li>
                    </ul>
                    <p class="profile-lead text-center">ZZ Top</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">La Grange</li>
                        <li class="list-inline-item">Tush</li>
                        <li class="list-inline-item">Gimme All Your Lovin'</li>
                    </ul>
                    <p class="profile-lead text-center">Bad Company</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Can't Get Enough</li>
                        <li class="list-inline-item">Movin' On</li>
                        <li class="list-inline-item">Good Lovin' Gone Bad</li>
                    </ul>
                    <p class="profile-lead text-center">Van Halen</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Ain't Talkin' 'Bout Love</li>
                        <li class="list-inline-item">Dance the Night Away</li>
                    </ul>
                    <p class="profile-lead text-center">Aerosmith</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Walk This Way</li>
                        <li class="list-inline-item">Sweet Emotion</li>
                    </ul>
                    <p class="profile-lead text-center">Creedence Clearwater Revival</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Fortunate Son</li>
                        <li class="list-inline-item">Born On The Bayou</li>
                    </ul>
                    <p class="profile-lead text-center">The Who</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">The Real Me</li>
                        <li class="list-inline-item">Behind Blue Eyes</li>
                    </ul>
                    <p class="profile-lead text-center">The Beatles</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Something</li>
                    </ul>
                    <p class="profile-lead text-center">AC/DC</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">You Shook Me All Night Long</li>
                    </ul>
                    <p class="profile-lead text-center">Grand Funk Railroad</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Some Kinda Wonderful</li>
                    </ul>
                    <p class="profile-lead text-center">Neil Young</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Cinnamon Girl</li>
                    </ul>
                    <p class="profile-lead text-center">Black Crowes</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Hard To Handle</li>
                    </ul>
                    <p class="profile-lead text-center">David Bowie</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Suffragette City</li>
                        <li class="list-inline-item">Rebel Rebel</li>
                    </ul>
                    <p class="profile-lead text-center">Elton John</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">Saturday Night's Alright For Fightin'</li>
                    </ul>
                    <p class="profile-lead text-center">Badfinger</p>
                    <ul class="list-inline text-center profile">
                        <li class="list-inline-item">No Matter What</li>
                    </ul>
                </div>
            </div>
            <div class="row" style="height: 64px">
            </div>
        </div>
    </body>
</html>
