<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Custard Pie</title>
    </head>
    <body class="background">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-1 heading text-center">Schedule</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav justify-content-center nav-pills tfont">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/bios.html">Bios</a></li>
                        <li class="nav-item"><a class="nav-link" href="/upcoming.html">Schedule</a></li>
                        <li class="nav-item"><a class="nav-link" href="/songlist.html">Songlist</a></li>
                        <li class="nav-item"><a class="nav-link" href="/media.html">Media</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news.html">News</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for month in upcoming %}
                    <h2 class="profile-lead text-center">{{month.name}}</h2>
                    <table class="table table-secondary table-striped">
                        <tbody>
                            {% for event in month.events %}
                            <tr class="tfont"><td>{{event.start_time.strftime("%A, %B %-d at %-I:%M %p")}}</td><td>{{event.venue}}</td><td>{{event.location}}</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
            <div class="row" style="height: 64px">
            </div>
        </div>
    </body>
</html>
